doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width')
    title Brunch
    link(rel='stylesheet', href='/app.css')
  body
    .brunch
      a(href='http://brunch.io')
        img(src='http://brunch.io/images/logo.png', alt='Brunch')
      p Bon Appétit.

    script(src='/vendor.js')
    script(src='/app.js')
    script.
      require('initialize');