doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width')
    title VOLL-Brunch
    link(rel='stylesheet', href='/app.css')
  body

    main
      h1 VOLL-Brunch

      p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vitae asperiores dolores facere optio dicta culpa doloremque quasi velit aspernatur possimus totam ipsam odio obcaecati ratione et, placeat itaque, rem perferendis?


    script(src='/vendor.js')
    script(src='/app.js')
    script.
      require('index');
