doctype html
html(lang="en")
  // Head
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no")
    title VOLL Brunch
    link(rel="stylesheet" href="/app.css")

  // Body
  body

    // Page Content
    block content

    //- Web Font
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
    script.
      WebFont.load({
        google: {
          families: ['Oswald:300,400,500,600', 'Montserrat:100,300,500,600']
        }
      });

    script(src="/vendor.js")
    script(src="/app.js")
    script.
      require('index')
